.header {
    text-align: center;

}

#customer:hover {
    background-color: darkgray;
    cursor:pointer;
}

h1 {
    text-align: center;
}

.sorthead {
    
    cursor:pointer;
    
}

.sortbar {
    
    background-color: grey; 
    margin-bottom: 40px;
}