.header {
    text-align: center;

}

#customer:hover {
    background-color: darkgray;
    cursor:pointer;
}

h1 {
    text-align: center;
}

.sorthead {
    
    cursor:pointer;
    
}

thead {
    
    background-color: #003152;
    color: white;
}

.toolbar {
    
    background-color: #003152; 
    margin-bottom: 40px;
    border: 2px solid lightgray;
}

